<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-6 py-2 left-col">
        <p class="mb-2">Email: <a href="mailto:Giulia.osti@ucdconnect.ie">Giulia.osti@ucdconnect.ie</a></p>
        <p>ORCID: <a href="https://orcid.org/0000-0003-3179-6980">0000-0003-3179-6980</a></p>
      </div>

      <!-- Right Column -->
      <div class="col-md-6 py-2 right-col">
        <!-- Your Logo Here -->
        <img src="your-logo.png" alt="Your Logo" class="img-fluid mb-3" style="max-width: 100px; height: auto;">

        <!-- Text -->
        <p><strong>How did I come up with 'semantic noodles'?</strong></p>
        <p>First of all, I love rice noodles! Secondly, I was hungry while working in Cyprus and simply misspelt
          "semantic models" while writing...</p>
      </div>
    </div>
  </div>

  <!-- Back To Top-->
  <div id="back-to-top" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
  </div>
  {% include back_to_top.html %}
</div>